/node_modules
/public/css
/public/js
/public/mix-manifest.json
/public/hot
/public/storage
/storage/.key
/storage/app/public/cache/thumbs/*
!/storage/app/public/cache/thumbs/.gitkeep
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
**/.DS_Store
.vs
composer.phar
