// Body
$body-bg: #f8fafc;

//// Typography
//$font-family-sans-serif: 'Nunito', sans-serif;
//$font-size-base: 0.9rem;
//$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$salveMundi-primary: #663265;
$salveMundi-light: #864485;
$salveMundi-link: #BA5EB8;
$salveMundi-dark: #39203B;
$salveMundi-boxShadow: rgba(102, 50, 101, 0.6);
$salveMundi-boxShadowWhite: rgba(255, 255, 255, 0.24);
$slick-arrow-color: green !important;

// Dark theme
$salveMundi-darkMode-background: #141414;
$salveMundi-darkMode-text: #f6d8ff;
$salveMundi-selected-background: #230046;
$salveMundi-formInput-background: #282828;
$salveMundi-card-background: #434343;

$bs-table-bg: $salveMundi-formInput-background;


// bootstrap variable overrides
$bs-btn-active-color: #000 !important;


$btn-outline-primary-color: $salveMundi-primary;
$btn-outline-primary-bg: transparent;
$btn-outline-primary-border: $salveMundi-primary;

//.btn-check:checked + .btn-outline-primary,
//:not(.btn-check) + .btn-outline-primary:active,
//.btn-outline-primary:first-child:active,
//.btn-outline-primary.active,
//.btn-outline-primary.show {
//  color: white;
//  background-color: $btn-outline-primary-color;
//  border-color: $btn-outline-primary-color;
//

.btn-check:checked + .btn-outline-primary,
:not(.btn-check) + .btn-outline-primary:active,
.btn-outline-primary:first-child:active,
.btn-outline-primary.active,
.btn-outline-primary.show,
.btn-check + .btn-outline-primary:hover {
  color: white;
  background-color: $btn-outline-primary-color;
  border-color: $btn-outline-primary-color;
}


.btn-outline-primary {
  color: $btn-outline-primary-color;
  background-color: $btn-outline-primary-bg;
  border-color: $btn-outline-primary-border;

  &:hover,
  &.hover {
    color: $btn-outline-primary-color;
    background-color: $btn-outline-primary-color;
    border-color: $btn-outline-primary-color;
  }

  &:focus,
  &.focus,
  &:active,
  &.active {
    color: $btn-outline-primary-color;
    background-color: $btn-outline-primary-color;
    border-color: $btn-outline-primary-color;
  }

  &:disabled,
  &.disabled {
    color: $btn-outline-primary-color;
    background-color: $btn-outline-primary-color;
    border-color: $btn-outline-primary-color;
  }
}
