// Body
$body-bg: #f8fafc;

// Typography
$font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
$font-headers: "Portico-Rounded", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$salveMundi-primary: #663265;
$salveMundi-light: #864485;
$salveMundi-link: #BA5EB8;
$salveMundi-dark: #39203B;
$salveMundi-boxShadow: rgba(102, 50, 101, 0.6);
$salveMundi-boxShadowWhite: rgba(255, 255, 255, 0.24);
$slick-arrow-color: green !important;
