// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//icons (font-awesome)
@import "node_modules/font-awesome/scss/font-awesome.scss";
.mult-select-tag .item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $salveMundi-light !important;
  padding: .2rem .4rem;
  margin: .2rem;
  font-weight: 500;
  border: 1px solid $salveMundi-link !important;
  background: rgba(246, 3, 246, 0.2) !important;
  border-radius: 9999px
}

.mult-select-tag .item-label {
  max-width: 100%;
  line-height: 1;
  font-size: .75rem;
  font-weight: 400;
  flex: 0 1 auto;
  color: #875487 !important;
}

.form-range::-moz-range-thumb:active {
  background-color: $salveMundi-link;
}
.form-range::-webkit-slider-thumb:active {
  background-color: $salveMundi-link;
}
.form-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem $salveMundi-boxShadow;
}
.form-range:focus::-moz-range-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem $salveMundi-boxShadow;
}
.form-range::-webkit-slider-thumb {
  width: 1rem;
  height: 1rem;
  margin-top: -0.25rem;
  background-color: $salveMundi-primary;
  border: 0;
  border-radius: 1rem;
  -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  appearance: none;
}

.form-range::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  background-color: $salveMundi-primary;
  border: 0;
  border-radius: 1rem;
  -moz-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -moz-appearance: none;
  appearance: none;
}

@font-face {
  font-family: 'Portico-Rounded';
  src: url('../../../public/fonts/Portico-Rounded.woff') format('woff');
}
