// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//icons (font-awesome)
@import "node_modules/font-awesome/scss/font-awesome.scss";

// Variables
@import 'variables';
.github-link:hover  {
  color: $salveMundi-link !important;
}
.tabber {
  color: black !important;
}
@media (prefers-color-scheme: dark) {
  a {
    color: white !important;
  }

  :root {
    color-scheme: dark;
  }
  body {
    color: $salveMundi-darkMode-text;
    background-color: $salveMundi-darkMode-background !important;
  }

  .overlap {
    background-color: $salveMundi-darkMode-background !important;
  }
  .tabber {
    color: $salveMundi-darkMode-text !important;
  }
  .tabcontent {
    border: 1px solid $salveMundi-formInput-background !important;
  }
  .form-control, .form-control::placeholder,.form-select {
    background-color: $salveMundi-formInput-background !important;
    color: $salveMundi-darkMode-text !important;
  }
  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link .nav {
    background-color: $salveMundi-selected-background !important;
    color: $salveMundi-darkMode-text !important;
  }
  .nav-tabs {
    border-bottom: none !important;
    border-color: $salveMundi-formInput-background !important;
  }
  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border-color: $salveMundi-formInput-background !important;
  }
  .nav-item:hover, .nav-link:hover {
    border-color: $salveMundi-darkMode-text !important;
  }

  .table {
    background-color: $salveMundi-formInput-background !important;
    --bs-table-bg: $salveMundi-darkMode-background !important;
    --bs-table-border-color: #585858 !important;
  }
  .table > :not(caption) > * > * {
    color: $salveMundi-darkMode-text !important;
  }
  .card {
    background-color: $salveMundi-card-background;
  }
  .cardNews {
    background-color: $salveMundi-card-background !important;

  }
  .card-text, .card-title {
    color: $salveMundi-darkMode-text !important;
  }
  .text-danger {
    color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
  }
  .card,
  .cardNews {
    border-radius: 5px !important;
    box-shadow:
            /* offset-x | offset-y | blur-radius | spread-radius | color */
            0px 24px 38px 3px hsla(0,0%,0%,0.14),
            0px 9px 46px 8px hsla(0,0%,0%,0.12),
            0px 11px 15px -7px hsla(0,0%,0%,0.2) !important;
    transition: all .2s ease-in-out;
  }
  a.text-decoration-underline {
    color: $salveMundi-darkMode-text !important;
  }
  .card-body {
    overflow: hidden;
    color: $salveMundi-darkMode-text;
    // button styles
    >.btn {
      margin-top: 0.5em;
    }

    // body text
    >p {
      white-space: pre-line;
      text-overflow: ellipsis;
      word-break: break-all;
      margin-top: 0.5rem;
      color: $salveMundi-darkMode-text;

      // body shadow
      &:after {
        content: ' ';
        background: linear-gradient(to top, $salveMundi-darkMode-background 20%, transparent) !important;
        border-bottom-left-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
        width: 100%;
        height: 40px;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }

  .text-muted, .dashboard-font,{
    color: $salveMundi-darkMode-text !important;
  }
  .fas {
    color: white !important;
  }
  .page-link.disabled, .disabled > .page-link {
    color: #{$salveMundi-darkMode-text};
    pointer-events: none;
    background-color: #{$salveMundi-formInput-background};

  }
  .pagination {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: $salveMundi-darkMode-text;
    --bs-pagination-bg: #{$salveMundi-formInput-background};
    --bs-pagination-border-width: var(--bs-border-width);
    --bs-pagination-border-color: #{$salveMundi-light};
    --bs-pagination-border-radius: var(--bs-border-radius);
    --bs-pagination-hover-color: $salveMundi-darkMode-text;
    --bs-pagination-hover-bg: #585858;
    --bs-pagination-hover-border-color: #{$salveMundi-link};
    --bs-pagination-focus-color: $salveMundi-darkMode-text;
    --bs-pagination-focus-bg: var(--bs-secondary-bg);
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(185, 13, 253, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #{$salveMundi-dark};
    --bs-pagination-active-border-color: #{$salveMundi-light};
    --bs-pagination-disabled-color: var(--bs-secondary-color);
    --bs-pagination-disabled-bg: var(--bs-secondary-bg);
    --bs-pagination-disabled-border-color: #{$salveMundi-light};
    display: flex;
    padding-left: 0;
    list-style: none;
  }

  .dropdown-menu {
    --bs-dropdown-bg: #{$salveMundi-formInput-background};
    --bs-dropdown-link-active-bg: #{$salveMundi-light};
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-hover-color: $salveMundi-darkMode-text;
    --bs-dropdown-link-hover-bg: #585858;
    --bs-dropdown-color: $salveMundi-darkMode-text;
    --bs-dropdown-link-color: $salveMundi-darkMode-text;
  }
  .input-group-text {
    background-color: $salveMundi-formInput-background;
    color: $salveMundi-darkMode-text;
    border-color: $salveMundi-primary;
  }

  .form-control,.form-select {
    $input-group-addon-bg: #{$salveMundi-formInput-background} !important;
    background-color: $salveMundi-formInput-background !important;
    color: $salveMundi-darkMode-text !important;
    border-color: $salveMundi-primary !important;
  }

  .mult-select-tag .body {
    background: $salveMundi-formInput-background !important;
    border-color:  $salveMundi-primary !important
  }
  .mult-select-tag .btn-container {
    border-left: 1px solid $salveMundi-primary !important;
  }

  .mult-select-tag .drawer {
    background: $salveMundi-formInput-background !important;
    border: 1px solid $salveMundi-primary !important;
  }

  .mult-select-tag {
    --border-color: $salveMundi-primary !important;
  }

  .mult-select-tag .input {
    color: $salveMundi-darkMode-text !important;
    border: 1px solid $salveMundi-primary !important;
  }
  .mult-select-tag .input::placeholder {
    color: $salveMundi-darkMode-text !important;
  }
  .mult-select-tag ul li:hover {
    background-color: #585858 !important;
  }
  $bs-body-bg: $salveMundi-darkMode-background !important;
  .modal-content {
    background-color: $salveMundi-darkMode-background !important;
  }
  .btn-close {
    color: $salveMundi-darkMode-text !important;
    --bs-btn-close-color: #{$salveMundi-darkMode-text};
    filter: invert(100%) sepia(16%) saturate(7463%) hue-rotate(222deg) brightness(119%) contrast(115%);

  }
  .modal {
    --bs-modal-header-border-color: #{$salveMundi-card-background};
    --bs-modal-footer-border-color: #{$salveMundi-card-background};
  }
  .list-group {
    --bs-list-group-bg: #{$salveMundi-card-background};
    --bs-list-group-active-bg: #{$salveMundi-card-background};
    --bs-list-group-action-hover-bg: #{$salveMundi-card-background};
    --bs-list-group-action-active-bg: #{$salveMundi-card-background};
    --bs-list-group-active-border-color: #{$salveMundi-link};
    --bs-list-group-color: #{$salveMundi-darkMode-text};
  }
  h5 {
    color: $salveMundi-darkMode-text;
  }
}


.mult-select-tag .item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $salveMundi-light !important;
  padding: .2rem .4rem;
  margin: .2rem;
  font-weight: 500;
  border: 1px solid $salveMundi-link !important;
  background: rgba(246, 3, 246, 0.2) !important;
  border-radius: 9999px
}

.mult-select-tag .item-label {
  max-width: 100%;
  line-height: 1;
  font-size: .75rem;
  font-weight: 400;
  flex: 0 1 auto;
  color: #875487 !important;
}

.form-range::-moz-range-thumb:active {
  background-color: $salveMundi-link;
}
.form-range::-webkit-slider-thumb:active {
  background-color: $salveMundi-link;
}
.form-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem $salveMundi-boxShadow;
}
.form-range:focus::-moz-range-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem $salveMundi-boxShadow;
}
.form-range::-webkit-slider-thumb {
  width: 1rem;
  height: 1rem;
  margin-top: -0.25rem;
  background-color: $salveMundi-primary;
  border: 0;
  border-radius: 1rem;
  -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  appearance: none;
}

.form-range::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  background-color: $salveMundi-primary;
  border: 0;
  border-radius: 1rem;
  -moz-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -moz-appearance: none;
  appearance: none;
}
