@import "variables";

/* Begin main CSS page */
::selection {
  background: $salveMundi-link;
  color: white;
}

a,
a:hover {
  text-decoration: none !important;
  color: black;
}

.imgIndex {
  width: 100%;
  transform: scale(0.95);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

html {
  scroll-behavior: smooth;
}

.alert-pre {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}

.overlap {
  background-color: white;
  padding-top: 3em;
  padding-left: 2em;
  padding-right: 2em;
  // margin-bottom: 15px;
  z-index: 3;
}

.foto {
  min-width: 100%;
  max-height: 100%;
}

@media (min-width: 576px) {
  .overlap{
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media (min-width: 768px) {
  .overlap{
    padding-left: 5em;
    padding-right: 5em;
  }
}

@media (min-width: 992px) {
  .overlap{
    padding-left: 10em;
    padding-right: 10em;
  }
}

@media (min-width: 1200px) {
  .overlap{
    padding-left: 13em;
    padding-right: 13em;
  }
}

.form-check-input:checked {
  background-color: #3490dc;
  border-color: #3490dc;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.widthFix {
  width: 100% !important;
}

.grow:hover
{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/* This is the checked state */
.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after {
  background-color: $salveMundi-primary;  /* green */
  /* this bg image SVG is just a white circle, you can replace it with any valid SVG code */
  border-radius: 50%;
}

/* active state i.e. displayed while the mouse is being pressed down */
.custom-radio .custom-control-input:active ~ .custom-control-label::before {
  color: #fff;
  background-color: $salveMundi-link; /* red */
}

/* the shadow; displayed while the element is in focus */
.custom-radio .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0 #fff, 0 0 0 0.25rem rgba(178, 123, 255, 0.25); /* pink, 25% opacity */
}
.form-check-input:checked {
  background-color: $salveMundi-primary !important;
  border-color: $salveMundi-light !important;
}
/* End main CSS page */

/* Begin navbar */

.tabber {
  color: black !important;
}

.nav-link {
    white-space: nowrap;
}

.nav-link:hover {
  color: white;
}
.navbar,
.navbarAdmin {
  background-color: rgba(0, 0, 0, 0) !important;
  background-size: cover;
  color: white;
  text-decoration: none;
  position: fixed;
  width: 100%;
  transition: 0.6s;
  z-index: 69420;
  text-shadow: 0 2px rgba(0, 0, 0, 0.3);
}

.affix {
  background-color: $salveMundi-primary !important;
  transition: 0.6s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3) !important;
}

.navbar a,
.navbarAdmin a {
  color: white;
  border-radius: 8px;
}

.navbar a:hover,
.navbarAdmin a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.5s ease-in-out;

}

.navbar-brand {
  padding-left: 1rem;
  padding-right: 1rem;
}

.overlayVideo {
  background-image: linear-gradient(rgba(156, 139, 253, 0.493), rgba(214, 124, 250, 0.582));
  z-index: 1;
  margin-bottom: -10px;
}

@media (min-width:1900px) {
  .overlayVideo {
    height: 60em;
  }
}

.navImg {
  position: relative;
  width: 100%;
  z-index: -1;
}

.navAdminWidth {
  max-width: 1740px !important;
}

.dropbtn {
  background-color: rgba(0, 0, 0, 0);
  text-shadow: 0 2px rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.dropbtn:focus {
  outline: none;
}

.affix-dropdown {
  background-color: $salveMundi-primary !important;
  transition: 0.6s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3) !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownText {
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $salveMundi-boxShadowWhite;
  min-width: 180px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 8px;
  transition: 0.5s ease-in-out;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: white;
  transition: 0.2s ease-in-out;
}
.show {
  display: block;
}
.dropdown-content a:active {
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s ease-in-out;
}

.dropdown:active .dropdown-content,.dropdown:focus {
  display: block;
  transition: 0.3s ease-in-out;
}

.dropdown:active .dropbtn, .dropdown:hover .dropbtn {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}

.imgNavbar {
  height: 75px;
  width: 75px;
  transition: 0.6s;
}

.affix-img {
  height: 50px;
  width: 50px;
  transition: 0.6s;
}

#hamburgerMenu {
  color: white;
}
// .showCom {
//   background-color: $salveMundi-light;
//   border-radius: 10px;
//   padding: 10px;
//   max-width: 75%;
// }
@media only screen and (max-width: 767px){
  .showCom {
    background-color: $salveMundi-light;
    border-radius: 10px;
    padding: 10px;
    max-width: 75%;
  }
  .showMyAcc {
    background-color: unset !important;
  }
}

.navLink:hover,
.navLink:link {
  text-decoration: none;
}

@media only screen and (max-width: 767.98px) {
  .dropbtn {
    padding: 0;
  }
}

/* End navbar */

/* Begin navbarAdmin */
.navbarAdmin {
  background-color: $salveMundi-primary !important;
}

/* End navbarAdmin */

/* Begin footer */

.site-footer {
  background-color: $salveMundi-primary;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: white;
  position: relative;
  z-index: 5;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}

.site-footer a {
  color: white;
}

.site-footer a:hover {
  color: $salveMundi-link;
  text-decoration: none;
}

.footerText {
  &:hover {
    color: $salveMundi-link;
  }
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block
}

.footer-links a {
  color: white;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: $salveMundi-link !important;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  text-align: right
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d
}

.center {
  display: flex !important;
  justify-content: center;
}

@media only screen and (max-width: 767.98px) {
  .centerTable {
    display: unset !important;
    justify-content: unset;
  }
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: white;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: $salveMundi-link;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.footerText {
  color: white;
  margin-bottom: 0 !important;

  &:hover {
    color: $salveMundi-link;
  }
}

.footerText2 {
  color: white;
  margin-bottom: 0 !important;
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }
}

/* End footer */

/* Begin intro signup */
.btn-warning{
  color: black !important;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
.specialDelete {
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

}
.btn {
  color: white;
  &:hover {
    color: white;
  }

  &:focus {
    color: white;
  }
}
.btn-primary {
  background: $salveMundi-primary !important;
  border-color: $salveMundi-primary !important;
  color: white;
  &:hover {
    background: $salveMundi-dark !important;
    color: white;
  }

  &:focus {
    color: white;
    box-shadow: 0 0 0 0.2rem $salveMundi-boxShadow !important;
  }
}

.form-control {
  border-color: $salveMundi-primary;

  &:focus {
    box-shadow: 0 0 0 0.2rem $salveMundi-boxShadow !important;
  }
}

.introSlider {
  width: 6 rem;
  height: auto;
}

/* End intro signup*/

/* Cards begin*/

.card {
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3) !important;
  transition: all .2s ease-in-out;
  overflow: hidden;
}

.user {
  flex-direction: unset;
}

.cardNews {
  width: 50%;
  border-radius: 10px;
  //flex-direction: row;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3) !important;
  margin: 10px;
  transition: all .2s ease-in-out;
  overflow: hidden;

  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.indexCard {
  height: 260px;
}

.group {
  width: 100% !important;
}

.card-img-bottom {
  color: #fff;
  height: 20rem;
  background-size: cover;
}

.pfPhoto {
  width: 190px;
  height: 190px;
  border-radius: 10px;
}

.pfPhotoNews {
  width: 50%;
  height: 800px;
}

.indexCard:hover{
  transform: scale(1.1);
}

.activityCard {
  width: 100%;
}
/* Cards end */

/* Myaccount navbar begin */

.myAccountBtn{
  margin-left: 10px;
}

.myAccount {
  position: relative;
  display: inline-block;
  background-color: #f6f9ff;
  padding: 10px;
  border-radius: 40px;
  overflow: hidden;
}

.myAccount a {
  position: relative;
  text-decoration: none;
  color: $salveMundi-dark;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  display: inline-block;
  width: 150px;
  padding: 10px;
  box-sizing: border-box;
  z-index: 2;
}

.myAccount a b {
  position: relative;
  top: 40px;
  transition: 0.3s ease top;
}

.myAccount a i {
  position: relative;
  left: 25%;
  transition: 0.3s ease left;
}

.myAccount span {
  position: absolute;
  background-color: #e5eeff;
  top: 10px;
  bottom: 10px;
  left: 10px;
  border-radius: 50px;
  z-index: 1;
  transition: 0.3s ease left;
}

.myAccount a:hover b {
  top: 0;
}

.myAccount a:hover i {
  left: 0;
}

.myAccount a:nth-child(1):hover~span {
  left: 10px;
}

.myAccount a:nth-child(2):hover~span {
  left: 114px;
}

.myAccount a:nth-child(3):hover~span {
  left: 218px;
}

/* Myaccount navbar end */

/* Admin page begin */

.adminOverlap {
  position: relative;
  top: 100px;
}

.buttonSync {
  margin-top: 2.5rem;
}

.removeAutoMargin {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.introCheck {
  left: 1rem;
  position: relative;
}

/* Admin page end */

/* Slick-Bar begin */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;

  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;

  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.sponsor {
  height: 150px;
  padding: 5px;
}

.slick-left:before {
  color: $salveMundi-primary !important;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  font-size: 40px !important;
  border-radius: 30px;
  padding-left: 15px;
  padding-right: 15px;
  content: '<';
  margin-left: -150px;
  transition: ease-in-out 0.2s;
}

.slick-right:before {
  color: $salveMundi-primary !important;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  font-size: 40px !important;
  border-radius: 30px;
  padding-left: 15px;
  padding-right: 15px;
  content: '>';
  transition: ease-in-out 0.2s;
}

.slick-right:hover::before,
.slick-left:hover::before {
  background: $salveMundi-primary !important;
  color: white !important;
  transition: ease-in-out 0.2s;
}

.slick-right,
.slick-left {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
  border: none;
  outline: none;
}

.slick-right {
  right: -25px;
}

[dir='rtl'] .slick-right {
  right: auto;
  left: -25px;
}

.slick-left {
  left: -25px;
}

[dir='rtl'] .slick-left {
  right: -25px;
  left: auto;
}

.groot {
  font-size: 50px;
  margin: 20px;
  color: $salveMundi-light;
}

/* Slick-Bar end */

/* Begin media query's  */

@media only screen and (max-width: 1540px) {
  .commissie {
    flex-direction: row !important;
    width: fit-content !important;
    margin: auto !important;
  }
  .user {
    width: fit-content !important;
    font-size: xx-small;
    text-align: center;
    flex-direction: column;
    margin: auto;
  }
  .adminCard {
    margin: 10px;
  }
}

@media only screen and (max-width: 420px) {
  .btnDelAcc {
    margin-left: 1.5rem !important;
  }
}

@media only screen and (max-width: 578px) {
  .buttonSync {
    margin-top: 10px !important;
    margin-left: 2px !important;
    margin-bottom: 2px !important;
  }
}

#activiteitDescription {
  justify-content: left !important;
  padding-left: 15px;
  padding-right: 15px;
}

/* End media query's  */
