.dashboard-font {
  font-family: "Nunito", sans-serif;
}

.fontaweseome-flex {
  display: flex;
}

/******************************

Stati - minimal statistical cards

*******************************/

.stati {
  background: #fff;
  height: 6em;
  padding: 1em;
  margin: 1em 0;
  font-family: "Nunito", sans-serif !important;
  /* Safari */
  transition: margin 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0px 0.2em 0.4em rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  /*border */
}

.stati:hover {
  margin-top: 0.5em;
  box-shadow: 0px 0.4em 0.5em rgba(0, 0, 0, 0.4);
}

.stati i {
  font-size: 3.5em;
}

.stati div {
  display: block;
  float: right;
  text-align: right;
}

.stati div b {
  font-size: 2.2em;
  width: 100%;
  padding-top: 0px;
  margin-top: -0.2em;
  margin-bottom: -0.2em;
  display: block;
}

.stati div span {
  font-size: 1em;
  width: 100%;
  color: rgba(0, 0, 0, 0.8) !important;
  display: block;
}

.stati.left div {
  float: left;
  text-align: left;
}

.stati.bg-turquoise {
  background: #1abc9c;
  color: white;
}

.stati.bg-emerald {
  background: #2ecc71;
  color: white;
}

.stati.bg-peter_river {
  background: #3498db;
  color: white;
}

.stati.bg-amethyst {
  background: #9b59b6;
  color: white;
}

.stati.bg-wet_asphalt {
  background: #34495e;
  color: white;
}

.stati.bg-green_sea {
  background: #16a085;
  color: white;
}

.stati.bg-nephritis {
  background: #27ae60;
  color: white;
}

.stati.bg-belize_hole {
  background: #2980b9;
  color: white;
}

.stati.bg-wisteria {
  background: #8e44ad;
  color: white;
}

.stati.bg-midnight_blue {
  background: #2c3e50;
  color: white;
}

.stati.bg-sun_flower {
  background: #f1c40f;
  color: white;
}

.stati.bg-carrot {
  background: #e67e22;
  color: white;
}

.stati.bg-alizarin {
  background: #e74c3c;
  color: white;
}

.stati.bg-clouds {
  background: #ecf0f1;
  color: white;
}

.stati.bg-concrete {
  background: #95a5a6;
  color: white;
}

.stati.bg-orange {
  background: #f39c12;
  color: white;
}

.stati.bg-pumpkin {
  background: #d35400;
  color: white;
}

.stati.bg-pomegranate {
  background: #c0392b;
  color: white;
}

.stati.bg-silver {
  background: #bdc3c7;
  color: white;
}

.stati.bg-asbestos {
  background: #7f8c8d;
  color: white;
}

.stati.turquoise {
  color: #1abc9c;
}

.stati.emerald {
  color: #2ecc71;
}

.stati.peter_river {
  color: #3498db;
}

.stati.amethyst {
  color: #9b59b6;
}

.stati.wet_asphalt {
  color: #34495e;
}

.stati.green_sea {
  color: #16a085;
}

.stati.nephritis {
  color: #27ae60;
}

.stati.belize_hole {
  color: #2980b9;
}

.stati.wisteria {
  color: #8e44ad;
}

.stati.midnight_blue {
  color: #2c3e50;
}

.stati.sun_flower {
  color: #f1c40f;
}

.stati.carrot {
  color: #e67e22;
}

.stati.alizarin {
  color: #e74c3c;
}

.stati.clouds {
  color: #ecf0f1;
}

.stati.concrete {
  color: #95a5a6;
}

.stati.orange {
  color: #f39c12;
}

.stati.pumpkin {
  color: #d35400;
}

.stati.pomegranate {
  color: #c0392b;
}

.stati.silver {
  color: #bdc3c7;
}

.stati.asbestos {
  color: #7f8c8d;
}

.stati.svdark {
  color: #663265;
}

