/* Begin main CSS page */

a,
a:hover {
  text-decoration: none !important;
  color: black;
}

.imgIndex {
  width: 80%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

html {
  scroll-behavior: smooth;
}

.alert-pre {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}

.overlap {
  background-color: white;
  top: 750px;
  position: relative;
  margin-bottom: 750px;
  padding: 50px;
  width: 100% !important;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

/* End main CSS page */

/* Begin navbar */

.navbar,
.navbarAdmin {
  background-color: rgba(0, 0, 0, 0) !important;
  background-size: cover;
  color: white;
  text-decoration: none;
  position: fixed;
  width: 100%;
  transition: 0.6s;
  z-index: 16;
  text-shadow: 0 2px rgba(0, 0, 0, 0.3);
}

.affix {
  background-color: #663265 !important;
  transition: 0.6s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3) !important;
}

.navbar a,
.navbarAdmin a {
  color: white;
  border-radius: 8px;
}

.navbar a:hover,
.navbarAdmin a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.5s ease-in-out;
}

.navbar-brand {
  padding-left: 1rem;
  padding-right: 1rem;
}

.navImg {
  width: 100%;
  position: fixed;
  z-index: 0;
}

.overlayVideo:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(to right, rgba(156, 139, 253, 0.493), rgba(214, 124, 250, 0.582));
}

.overlayVideo {
  left: 0%;
  top: 0%;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.dropbtn {
  background-color: rgba(0, 0, 0, 0);
  text-shadow: 0 2px rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.dropbtn:focus {
  outline: none;
}

.affix-dropdown {
  background-color: #663265 !important;
  transition: 0.6s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3) !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  min-width: 180px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 8px;
  transition: 0.5s ease-in-out;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: white;
  transition: 0.2s ease-in-out;
}

.show {
  display: block;
}

.dropdown-content a:active {
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s ease-in-out;
}

.dropdown:active .dropdown-content,
.dropdown:focus {
  display: block;
  transition: 0.3s ease-in-out;
}

.dropdown:active .dropbtn,
.dropdown:hover .dropbtn {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}

.imgNavbar {
  height: 75px;
  width: 75px;
  transition: 0.6s;
}

.affix-img {
  height: 50px;
  width: 50px;
  transition: 0.6s;
}

#hamburgerMenu {
  color: white;
}

.navLink:hover,
.navLink:link {
  text-decoration: none;
}

@media only screen and (max-width: 767.98px) {
  .dropbtn {
    padding: 0;
  }
}

/* End navbar */

/* Begin navbarAdmin */

.navbarAdmin {
  background-color: #663265 !important;
}

/* End navbarAdmin */

/* Begin footer */

.site-footer {
  background-color: #663265;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: white;
  position: relative;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: white;
}

.site-footer a:hover {
  color: #BA5EB8;
  text-decoration: none;
}

.footerText:hover {
  color: #BA5EB8;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: white;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #BA5EB8 !important;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.center {
  display: flex !important;
  justify-content: center;
}

@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #eceeef;
  color: white;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #BA5EB8;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.footerText {
  color: white;
  margin-bottom: 0 !important;
}

.footerText:hover {
  color: #BA5EB8;
}

.footerText2 {
  color: white;
  margin-bottom: 0 !important;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

/* End footer */

/* Begin intro signup */

.btn-primary {
  background: #663265 !important;
  border-color: #663265 !important;
}

.btn-primary:hover {
  background: #39203B !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(102, 50, 101, 0.6) !important;
}

.form-control {
  border-color: #663265;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(102, 50, 101, 0.6) !important;
}

/* End intro signup*/

/* Cards begin*/

.card {
  border-radius: 10px;
  flex-direction: row;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3) !important;
  margin: 10px;
}

.group {
  width: 100% !important;
}

.card-img-bottom {
  color: #fff;
  height: 20rem;
  background-size: cover;
}

.pfPhoto {
  width: 240px;
  height: 240px;
  border-radius: 10px;
}

/* Cards end */

/* Myaccount navbar begin */

.myAccount {
  position: relative;
  display: inline-block;
  background-color: #f6f9ff;
  padding: 10px;
  border-radius: 40px;
  overflow: hidden;
}

.myAccount a {
  position: relative;
  text-decoration: none;
  color: #39203B;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  display: inline-block;
  width: 150px;
  padding: 10px;
  box-sizing: border-box;
  z-index: 2;
}

.myAccount a b {
  position: relative;
  top: 40px;
  transition: 0.3s ease top;
}

.myAccount a i {
  position: relative;
  left: 25%;
  transition: 0.3s ease left;
}

.myAccount span {
  position: absolute;
  background-color: #e5eeff;
  top: 10px;
  bottom: 10px;
  left: 10px;
  border-radius: 50px;
  z-index: 1;
  transition: 0.3s ease left;
}

.myAccount a:hover b {
  top: 0;
}

.myAccount a:hover i {
  left: 0;
}

.myAccount a:nth-child(1):hover ~ span {
  left: 10px;
}

.myAccount a:nth-child(2):hover ~ span {
  left: 114px;
}

.myAccount a:nth-child(3):hover ~ span {
  left: 218px;
}

/* Myaccount navbar end */

/* Admin page begin */

.adminOverlap {
  position: relative;
  top: 100px;
}

.introCheck {
  left: 1rem;
  position: relative;
}

/* Admin page end */

/* Slick-Bar begin */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.sponsor {
  height: 80%;
  width: 80%;
}

.mijnSlider {
  padding-left: 10%;
  padding-right: 10%;
}

.slick-left:before {
  color: #663265 !important;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  font-size: 40px !important;
  border-radius: 30px;
  padding-left: 15px;
  padding-right: 15px;
  content: "<";
  margin-left: -150px;
  transition: ease-in-out 0.2s;
}

.slick-right:before {
  color: #663265 !important;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  font-size: 40px !important;
  border-radius: 30px;
  padding-left: 15px;
  padding-right: 15px;
  content: ">";
  transition: ease-in-out 0.2s;
}

.slick-right:hover::before,
.slick-left:hover::before {
  background: #663265 !important;
  color: white !important;
  transition: ease-in-out 0.2s;
}

.slick-right,
.slick-left {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
  border: none;
  outline: none;
}

.slick-right {
  right: -25px;
}

[dir=rtl] .slick-right {
  right: auto;
  left: -25px;
}

.slick-left {
  left: -25px;
}

[dir=rtl] .slick-left {
  right: -25px;
  left: auto;
}

.groot {
  font-size: 50px;
  margin: 20px;
  color: #864485;
}

/* Slick-Bar end */

/* Begin media query's  */

@media only screen and (max-width: 549.98px) {
  .textCard,
  .card-text {
    font-size: 12px;
  }
}

@media only screen and (max-width: 468.98px) {
  .textCard,
  .card-text {
    font-size: 10px;
  }
}

@media only screen and (max-width: 409.98px) {
  .textCard,
  .card-text {
    font-size: 8px;
  }
}

@media only screen and (max-width: 349.98px) {
  .textCard,
  .card-text {
    font-size: 7px;
  }
}

@media only screen and (max-width: 1409.98px) {
  .card {
    flex-direction: column;
  }
}

@media only screen and (max-width: 505.98px) {
  .card {
    width: 300px;
  }
}

@media only screen and (max-width: 424.98px) {
  .card {
    width: 235px;
  }
}

@media only screen and (max-width: 319.98px) {
  .card {
    width: 200px;
  }
}

@media only screen and (max-width: 767.98px) {
  .card {
    flex-direction: unset;
  }

  .pfPhoto {
    width: 20% !important;
    height: auto;
  }
}

@media only screen and (max-width: 835.98px) {
  .pfPhoto {
    width: 215px;
    height: auto;
  }
}

@media only screen and (max-width: 367.98px) {
  .mijnSlider {
    padding-left: 0% !important;
    padding-right: 0% !important;
  }
}

@media only screen and (max-width: 1199.98px) {
  .overlap {
    top: 400px;
    margin-bottom: 400px;
  }
}

@media only screen and (max-width: 809.98px) {
  .overlap {
    top: 300px;
    margin-bottom: 300px;
  }
}

@media only screen and (max-width: 609.98px) {
  .overlap {
    top: 280px;
    margin-bottom: 280px;
  }
}

@media only screen and (max-width: 569.98px) {
  .overlap {
    top: 260px;
    margin-bottom: 260px;
  }
}

@media only screen and (max-width: 524.98px) {
  .overlap {
    top: 230px;
    margin-bottom: 230px;
  }
}

@media only screen and (max-width: 477.98px) {
  .overlap {
    top: 210px;
    margin-bottom: 210px;
  }

  #activiteitDescription {
    justify-content: left !important;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 424.98px) {
  .overlap {
    top: 200px;
    margin-bottom: 200px;
  }
}

@media only screen and (max-width: 399.98px) {
  .overlap {
    top: 180px;
    margin-bottom: 180px;
  }
}

@media only screen and (max-width: 359.98px) {
  .overlap {
    top: 160px;
    margin-bottom: 160px;
  }
}

/* End media query's  */

